
<form action="/random/results"> 
 <ol>
 <div>
  <label for="apple">Minimum</label>
  <input id="apple" type="text" name="number_one">
  </div>

  <div>
  <label for="orange">Maximum</label>
  <input id="orange" type="text" name="number_two">
  </div>

  <button>Pick random number</button>
  </ol>
</form>
