<h1>Calculate square root</h1>


<form action="/square_root/results">
  <label for="tree">Enter a number</label>

  <input id="tree" type="text" name="users_number">

  <button>Calculate square root</button>
</form>
