<h1>Calculate the monthly payment</h1>


<form action="/payment/results">
 <ol>
 <div>
  <label for="sunflower">APR</label>
  <input id="sunflower" type="text" name="apr">
  </div>

  <div>
  <label for="poppy">Number of years</label>
  <input id="poppy" type="text" name="years">
  </div>

  <div>
  <label for="dog">Principal</label>
  <input id="dog" type="text" name="principal">
  </div>

  <button>Calculate monthly payment</button>
  </ol>
</form>
